*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
embeddings_output_GEMINI/index_content.faiss filter=lfs diff=lfs merge=lfs -text
embeddings_output_GEMINI/index_prefix.faiss filter=lfs diff=lfs merge=lfs -text
embeddings_output_GEMINI/index_tfidf.faiss filter=lfs diff=lfs merge=lfs -text
embeddings_output_GEMINI/metadata.json filter=lfs diff=lfs merge=lfs -text
input_files/1[[:space:]]Fiscal[[:space:]]Environment/1.1[[:space:]]System[[:space:]]Annual[[:space:]]Financial[[:space:]]Report[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/1[[:space:]]Fiscal[[:space:]]Environment/1.2[[:space:]]Conducting,[[:space:]]Recording[[:space:]]and[[:space:]]Reporting[[:space:]]Financial[[:space:]]Activity[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/1[[:space:]]Fiscal[[:space:]]Environment/1.3[[:space:]]Unit[[:space:]]Financial[[:space:]]Health[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/1[[:space:]]Fiscal[[:space:]]Environment/1.4[[:space:]]University[[:space:]]and[[:space:]]System[[:space:]]Offices[[:space:]]Deficit[[:space:]]Reporting[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/1[[:space:]]Fiscal[[:space:]]Environment/1.5[[:space:]]Conducting[[:space:]]Business[[:space:]]Outside[[:space:]]the[[:space:]]State[[:space:]]of[[:space:]]Illinois[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/1[[:space:]]Fiscal[[:space:]]Environment/1.6[[:space:]]Exceptions[[:space:]]to[[:space:]]Business[[:space:]]and[[:space:]]Financial[[:space:]]Policies,[[:space:]]Procedures,[[:space:]]and[[:space:]]Processes[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/2[[:space:]]Custodial[[:space:]]Funds/2.1[[:space:]]Policies[[:space:]]for[[:space:]]Managing[[:space:]]Custodial[[:space:]]Funds[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/2[[:space:]]Custodial[[:space:]]Funds/2.2[[:space:]]Determine[[:space:]]the[[:space:]]Need[[:space:]]for[[:space:]]a[[:space:]]Custodial[[:space:]]Fund[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/2[[:space:]]Custodial[[:space:]]Funds/2.3[[:space:]]Request[[:space:]]Approval[[:space:]]for[[:space:]]a[[:space:]]Custodial[[:space:]]Fund[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/2[[:space:]]Custodial[[:space:]]Funds/2.4[[:space:]]Comply[[:space:]]with[[:space:]]Unit[[:space:]]Liaison[[:space:]]Responsibilities[[:space:]]for[[:space:]]a[[:space:]]Custodial[[:space:]]Fund[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/2[[:space:]]Custodial[[:space:]]Funds/2.5[[:space:]]Expend[[:space:]]Custodial[[:space:]]Funds[[:space:]]on[[:space:]]Behalf[[:space:]]of[[:space:]]Owner[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/2[[:space:]]Custodial[[:space:]]Funds/2.6[[:space:]]Process[[:space:]]a[[:space:]]Transaction[[:space:]]between[[:space:]]the[[:space:]]System[[:space:]]and[[:space:]]the[[:space:]]Owner[[:space:]]of[[:space:]]a[[:space:]]Custodial[[:space:]]Fund[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/2[[:space:]]Custodial[[:space:]]Funds/2.7[[:space:]]Return[[:space:]]Custodial[[:space:]]Funds[[:space:]]to[[:space:]]the[[:space:]]Owner[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/3[[:space:]]Budget/3.1[[:space:]]Adjust[[:space:]]a[[:space:]]Budget[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/3[[:space:]]Budget/3.2[[:space:]]Manage[[:space:]]State[[:space:]]Year-End[[:space:]]Balances[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/3[[:space:]]Budget/Budget_Additional_Resources/Budget[[:space:]]Planning[[:space:]]Cycle.pdf filter=lfs diff=lfs merge=lfs -text
input_files/3[[:space:]]Budget/Budget_Additional_Resources/Fiscal[[:space:]]Year[[:space:]]2024[[:space:]]Budget[[:space:]][[:space:]]Salary[[:space:]]Guidelines[[:space:]]06-27-23[[:space:]]V8[[:space:]]Final.pdf filter=lfs diff=lfs merge=lfs -text
input_files/3[[:space:]]Budget/Budget_Additional_Resources/FY[[:space:]]2021[[:space:]]Budget[[:space:]]Planning[[:space:]]Memo[[:space:]]5-18-2020[[:space:]]FINAL[[:space:]]REVISED[[:space:]]WITH[[:space:]]NEW[[:space:]]ENROLLMENT[[:space:]]FIGURES.docx filter=lfs diff=lfs merge=lfs -text
input_files/3[[:space:]]Budget/Budget_Additional_Resources/FY[[:space:]]2022[[:space:]]Budget[[:space:]]Guidelines[[:space:]]REVISED[[:space:]]7-9-21.docx filter=lfs diff=lfs merge=lfs -text
input_files/3[[:space:]]Budget/Budget_Additional_Resources/FY[[:space:]]2023[[:space:]]Budget[[:space:]]&[[:space:]]Salary[[:space:]]Guidelines[[:space:]]FINAL[[:space:]]7-18-22[[:space:]]Rev[[:space:]]2.pdf filter=lfs diff=lfs merge=lfs -text
input_files/3[[:space:]]Budget/Budget_Additional_Resources/FY[[:space:]]2025[[:space:]]Budget[[:space:]]and[[:space:]]Salary[[:space:]]Guidelines[[:space:]]07-10-24[[:space:]]Final.pdf filter=lfs diff=lfs merge=lfs -text
input_files/3[[:space:]]Budget/Budget_Additional_Resources/FY26[[:space:]]Budget[[:space:]]and[[:space:]]Salary[[:space:]]Guidelines[[:space:]]Final[[:space:]]Revised[[:space:]]07-16-25[[:space:]]V9.pdf filter=lfs diff=lfs merge=lfs -text
input_files/3[[:space:]]Budget/Budget_Additional_Resources/Tuition[[:space:]]and[[:space:]]Fee[[:space:]]Waivers.pdf filter=lfs diff=lfs merge=lfs -text
input_files/3[[:space:]]Budget/Budget_Additional_Resources/UIC[[:space:]]Contract-Based[[:space:]]Program[[:space:]]Guideline[[:space:]]-[[:space:]]JULY[[:space:]]2015[[:space:]]Final.pdf filter=lfs diff=lfs merge=lfs -text
input_files/3[[:space:]]Budget/Budget_Additional_Resources/UIC[[:space:]]Course[[:space:]]fee[[:space:]]policy[[:space:]]guidelines[[:space:]]-[[:space:]]January[[:space:]]2020.pdf filter=lfs diff=lfs merge=lfs -text
input_files/3[[:space:]]Budget/Budget_Additional_Resources/UIC[[:space:]]FCR[[:space:]]Programs[[:space:]]Guideline[[:space:]]1-20-16[[:space:]](002).pdf filter=lfs diff=lfs merge=lfs -text
input_files/3[[:space:]]Budget/Budget_Additional_Resources/UIC-BFA[[:space:]]Deficit[[:space:]]Reduction[[:space:]]Guidelines[[:space:]]102623.pdf filter=lfs diff=lfs merge=lfs -text
input_files/4[[:space:]]Payroll/4.1.1[[:space:]]Serve[[:space:]]as[[:space:]]a[[:space:]]Unit[[:space:]]Payroll[[:space:]]Contact[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/4[[:space:]]Payroll/4.1.2[[:space:]]Set[[:space:]]up[[:space:]]a[[:space:]]New[[:space:]]Unit[[:space:]]or[[:space:]]Location[[:space:]]for[[:space:]]Timesheets[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/4[[:space:]]Payroll/4.1.3[[:space:]]Set[[:space:]]Up[[:space:]]Payroll[[:space:]]Function[[:space:]]in[[:space:]]Banner[[:space:]]and[[:space:]]ANA[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/4[[:space:]]Payroll/4.1.4[[:space:]]Change[[:space:]]an[[:space:]]Employee's[[:space:]]Job[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/4[[:space:]]Payroll/4.1.5[[:space:]]Handle[[:space:]]Unclaimed[[:space:]]Payroll[[:space:]]Checks[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/4[[:space:]]Payroll/4.2.1[[:space:]]Submit[[:space:]]Employee[[:space:]]Work[[:space:]]Time[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/4[[:space:]]Payroll/4.2.2[[:space:]]Report[[:space:]]Tip[[:space:]]Income[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/4[[:space:]]Payroll/4.3.1[[:space:]]Adjust[[:space:]]an[[:space:]]Employee's[[:space:]]Pay[[:space:]](Underpayments)[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/4[[:space:]]Payroll/4.3.2[[:space:]]Process[[:space:]]Payments[[:space:]]for[[:space:]]Employment-Related[[:space:]]Agreements[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/4[[:space:]]Payroll/4.3.3[[:space:]]Process[[:space:]]Employee[[:space:]]Recognition[[:space:]]Awards[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/4[[:space:]]Payroll/4.3.4[[:space:]]Correct[[:space:]]Payroll[[:space:]]Overpayments[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/4[[:space:]]Payroll/4.3.5[[:space:]]Submit[[:space:]]Taxable[[:space:]]Fringe[[:space:]]Benefit[[:space:]]Payments[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/4[[:space:]]Payroll/4.3.6[[:space:]]Process[[:space:]]Payroll[[:space:]]Separation[[:space:]]Vacation[[:space:]]and[[:space:]]Sick[[:space:]]Leaves[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/5[[:space:]]Receivables/5.1[[:space:]]Managing[[:space:]]Receivables[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/5[[:space:]]Receivables/5.2.1[[:space:]]Obtain[[:space:]]Access[[:space:]]to[[:space:]]Banner[[:space:]]Accounts[[:space:]]Receivable[[:space:]](Banner[[:space:]]AR)[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/5[[:space:]]Receivables/5.2.2[[:space:]]Create[[:space:]]a[[:space:]]New[[:space:]]Non-Student[[:space:]](General-GAR)[[:space:]]Account[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/5[[:space:]]Receivables/5.2.3[[:space:]]Process[[:space:]](Assess)[[:space:]]Non-Student[[:space:]](General-GAR)[[:space:]]Charges[[:space:]]in[[:space:]]Banner[[:space:]]AR[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/5[[:space:]]Receivables/5.2.4[[:space:]]Determine[[:space:]]Whether[[:space:]]a[[:space:]]Student[[:space:]]Charge[[:space:]]Qualifies[[:space:]]as[[:space:]]a[[:space:]]Receivable[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/5[[:space:]]Receivables/5.2.5[[:space:]]Process[[:space:]](Assess)[[:space:]]Student[[:space:]](SAR)[[:space:]]Charges[[:space:]]in[[:space:]]Banner[[:space:]]AR[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/5[[:space:]]Receivables/5.2.6[[:space:]]Process[[:space:]](Assess)[[:space:]]Study[[:space:]]Abroad[[:space:]]Charges[[:space:]]in[[:space:]]Banner[[:space:]]AR[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/5[[:space:]]Receivables/5.3.1[[:space:]]Calculate[[:space:]]Your[[:space:]]Allowance[[:space:]]for[[:space:]]Uncollectible[[:space:]]Receivables[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/5[[:space:]]Receivables/5.3.2[[:space:]]Collect[[:space:]]Delinquent[[:space:]]Accounts[[:space:]]Receivable[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
input_files/5[[:space:]]Receivables/5.4[[:space:]]Request[[:space:]]an[[:space:]]Exemption[[:space:]]from[[:space:]]Using[[:space:]]Banner[[:space:]]AR[[:space:]]-[[:space:]]Business[[:space:]]&[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
