name: Deploy to Hugging Face Space

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout GitHub repository
      uses: actions/checkout@v4

    - name: Sync to Hugging Face Space
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
      run: |
        git config --global user.email "deploy@github-actions.com"
        git config --global user.name "GitHub Actions"

        # 1️⃣ clone your HF Space repo (Docker Space)
        git clone https://user:${HF_TOKEN}@huggingface.co/spaces/Ingee529/UIC-RAG-Policy-chatbot hf_space

        # 2️⃣ sync GitHub → HF
        rsync -av --delete --exclude ".git" ./ hf_space

        cd hf_space

        # 3️⃣ push if changes exist
        git add .
        git commit -m "Auto deploy from GitHub" || echo "No changes to commit"
        git push